/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		compatible = "xunlong,orangepi-zero3";
		target = <&spi0>;
		__overlay__ {
			flash@0 {
				partition@4 {
					label = "os";
					reg = <0x00580000 0x00a80000>;
				};
				partition@3 {
					label = "uimage";
					reg = <0x00180000 0x00400000>;
				};
				partition@2 {
					label = "firmware";
					reg = <0x00100000 0x00080000>;
				};
				partition@1 {
					label = "env";
					reg = <0x000f0000 0x00010000>;
				};
				partition@0 {
					label = "bootloader";
					reg = <0x00000000 0x000f0000>;
				};
			};
		};
	};
};
