[Unit]
Description=Hostname spoof
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/generate_hostname.sh

[Install]
WantedBy=multi-user.target
