name: Build kernels
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - build.txt

jobs:
  build:
    name: build
    runs-on: ubuntu-22.04-arm
    strategy:
      matrix:
        version: [sunxi-6.12, sunxi-6.18]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set environment
        env:
          KERNEL_FAMILY: ${{ matrix.version }}
        run: |
          while IFS='=' read -r key value; do echo "$key=$value" >> $GITHUB_ENV; done < build.txt
          echo KERNEL_FAMILY=$KERNEL_FAMILY >> $GITHUB_ENV
          echo KERNEL_BRANCH=$(cat build.txt | grep ^BRANCH_$(echo $KERNEL_FAMILY | tr -d ".-") | cut -d'=' -f2) >> $GITHUB_ENV
          echo KERNEL_PATCH=$(cat build.txt | grep ^PATCH_$(echo $KERNEL_FAMILY | tr -d ".-") | cut -d'=' -f2) >> $GITHUB_ENV
          echo RUN_TIMESTAMP="$(date -Ru)" >> $GITHUB_ENV

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends wget xz-utils ca-certificates gzip git build-essential flex bison debhelper-compat bc cpio kmod libelf-dev libssl-dev rsync device-tree-compiler u-boot-tools zstd ccache

      - name: Get toolchain
        run: |
          wget https://mirrors.edge.kernel.org/pub/tools/llvm/files/$LLVM_TOOLCHAIN.tar.xz
          tar xvf $LLVM_TOOLCHAIN.tar.xz
          echo $PWD/$LLVM_TOOLCHAIN/bin >> $GITHUB_PATH

      - name: Checkout kernel source
        run: |
          git clone https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git -b $KERNEL_BRANCH --single-branch --no-tags --depth=1

      - name: Checkout armbian source
        run: |
          wget https://github.com/armbian/build/archive/$ARMBIAN_VERSION.tar.gz
          tar xvf $ARMBIAN_VERSION.tar.gz

      - name: Apply patches
        run: |
          cat build-$ARMBIAN_VERSION/patch/kernel/archive/$KERNEL_FAMILY/series.conf | sed "/^[#-]/d; /^$/d; s#\t#$PWD/build-$ARMBIAN_VERSION/patch/kernel/archive/$KERNEL_FAMILY/#g" > linux/series.conf
          cd linux
          for patch in ../uwe5622-$KERNEL_FAMILY/*.patch; do patch -Np1 < "$patch"; done
          for patch in ../generic/*.patch; do patch -Np1 < "$patch"; done
          if [ $KERNEL_FAMILY = sunxi-6.12 ]; then
            for patch in ../generic/rtw88/*.patch; do patch -Np1 < "$patch"; done
          fi
          if [ $KERNEL_FAMILY = sunxi-6.12 ] || [ $KERNEL_FAMILY = sunxi-6.18 ]; then
            git clone https://github.com/amnezia-vpn/amneziawg-linux-kernel-module awg -b v1.0.20251104
            ln -s $PWD/awg/src drivers/net/amneziawg
            patch -p1 < ../generic/awg/0001-amneziawg-as-intree.patch
            patch -p1 < ../generic/awg/0002-drivers-net-amneziawg-$KERNEL_FAMILY.patch
          fi
          for patch in $(cat series.conf); do patch -p1 < "$patch"; done
          if [ -n "$KERNEL_PATCH" ]; then for patch in $KERNEL_PATCH; do patch -p1 < ../generic/"$patch"; done; fi

      - name: Build kernel
        run: |
          cd linux
          mkdir out
          cp ../config_$KERNEL_FAMILY out/.config
          make \
            O=out \
            ARCH=arm64 \
            LLVM=1 \
            LLVM_IAS=1 \
            KCFLAGS="-march=armv8-a+crc+crypto -mtune=cortex-a53 -Wno-incompatible-pointer-types-discards-qualifiers -I$PWD/drivers/net/wireless/uwe5622/unisocwcn/include" \
            LOCALVERSION="-${BUILD_NUMBER}-r${ARMBIAN_VERSION:0:12}" \
            KBUILD_BUILD_USER="nobody" \
            KBUILD_BUILD_HOST="localhost" \
            KBUILD_BUILD_TIMESTAMP="$RUN_TIMESTAMP" \
            CC="ccache clang" \
            bindeb-pkg -j$(nproc)

      - name: Generate kernelrelease
        run: |
          cd linux
          echo KERNELRELEASE=$(make -s O=out LOCALVERSION="-${BUILD_NUMBER}-r${ARMBIAN_VERSION:0:12}" kernelrelease) >> $GITHUB_ENV

      - name: Upload kernel debs
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ env.KERNELRELEASE }}-${{ env.KERNEL_FAMILY }}
          path: |
            linux/linux-image-*-1_*.deb
            linux/linux-headers-*-1_*.deb
            linux/linux-libc-dev_*-1_*.deb
          retention-days: 7

      - name: Build non-EFI kernel
        run: |
          cd linux/out
          ../scripts/config --disable CONFIG_EFI
          cd ..
          make \
            O=out \
            ARCH=arm64 \
            LLVM=1 \
            LLVM_IAS=1 \
            KCFLAGS="-march=armv8-a+crc+crypto -mtune=cortex-a53 -Wno-incompatible-pointer-types-discards-qualifiers -I$PWD/drivers/net/wireless/uwe5622/unisocwcn/include" \
            LOCALVERSION="-${BUILD_NUMBER}-r${ARMBIAN_VERSION:0:12}" \
            KBUILD_BUILD_USER="nobody" \
            KBUILD_BUILD_HOST="localhost" \
            KBUILD_BUILD_TIMESTAMP="$RUN_TIMESTAMP" \
            CC="ccache clang" \
            bindeb-pkg -j$(nproc)

      - name: Upload non-EFI kernel debs
        uses: actions/upload-artifact@v4
        with:
          name: non-efi-linux-${{ env.KERNELRELEASE }}-${{ env.KERNEL_FAMILY }}
          path: |
            linux/linux-image-*-2_*.deb
            linux/linux-headers-*-2_*.deb
            linux/linux-libc-dev_*-2_*.deb
          retention-days: 7
